@layer reset, theme, global, layout, components, utilities, states;

@import "mn/utils.css" layer(utilities);

@layer reset {
	:where(*, *:before, *:after) {
		box-sizing: inherit;
	}

	html,
	body {
		min-height: 100vh;
		margin: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
	}

	iframe {
		border: none;
	}
}

@layer theme {
	:root {
		color-scheme: light dark;
		/* font families */
		--mn-font: "Geist", "Inter", ui-sans-serif, system-ui, sans-serif;
		--mn-font-mono:
			"Geist Mono", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;

		--primary-hue: light-dark(
			oklch(0.7809 0.1136 218.13),
			oklch(0.3007 0.0974 254.53)
		);
		--secondary: oklch(from var(--primary-hue) l c 120deg);
		--tertiary: oklch(from var(--primary-hue) l c -90deg);

		/* light/dark colors */
		--mn-tx-1: contrast-color(var(--primary-hue)); /* primary text */
		--mn-tx-2: color-mix(
			in oklch,
			var(--primary-hue) 10%,
			contrast-color(var(--primary-hue))
		); /* secondary text */
		--mn-bg-1: var(--primary-hue); /* primary background */
		--mn-bg-2: light-dark(#fafafa, #000); /* secondary background */
		--mn-bg-3: color-mix(
			in oklch,
			var(--primary-hue) 90%,
			contrast-color(var(--primary-hue))
		); /* border */
		--mn-lk-1: color-mix(
			in oklch,
			var(--secondary) 55%,
			contrast-color(var(--secondary))
		); /* link text */
		--mn-lkb-1: color-mix(
			in oklch,
			var(--secondary) 80%,
			contrast-color(var(--secondary))
		); /* link button */
		--mn-lkb-2: color-mix(
			in oklch,
			var(--secondary) 65%,
			contrast-color(var(--secondary))
		); /* link button hover */
		--mn-lkb-tx: contrast-color(var(--mn-lkb-1)); /* text over link button */
		--mn-ac-1: color-mix(
			in oklch,
			var(--tertiary) 80%,
			contrast-color(var(--tertiary))
		); /* accent color */
		--mn-ac-tx: contrast-color(var(--mn-ac-1)); /* text over accent color */

		--mn-info: oklch(0.72 0.13 240);
		--mn-success: oklch(0.76 0.16 145);
		--mn-warning: oklch(0.84 0.17 85);
		--mn-error: oklch(0.62 0.21 25);

		--mn-spacing: 0.5rem;
		--mn-radius: 0.5rem;
	}

	html {
		accent-color: var(--mn-ac-1);
	}

	@media (prefers-contrast: less) {
		:root {
			filter: contrast(75%);
			/* only needed because of low contrast filter, which needs a declared color to work on: */
			color: CanvasText;
			background-color: Canvas;
		}
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}

/* 5. typography */
body {
	font-family: var(--mn-font);
	color: var(--mn-tx-2);
	line-height: 1.5;
}

code,
pre,
kbd,
samp {
	font-family: var(--mn-font-mono);
	font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--mn-tx-1);
	line-height: 1;
	padding-top: 0.5rem;
}

h1,
h2,
h3 {
	margin-bottom: 0.75rem;
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--mn-bg-3);
}

article h1,
article h2,
article h3 {
	padding-bottom: 0;
	border-bottom: none;
}

h4,
h5,
h6 {
	margin-bottom: 0.5rem;
}

a {
	color: var(--mn-lk-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@supports not (color: light-dark(#fff, #000)) {
	a {
		text-decoration: underline;
	}
}

mark {
	border-radius: 0.375rem;
	padding: 0.125rem 0.25rem;
	background: var(--mn-ac-1);
	color: var(--mn-ac-tx);
}

::selection {
	background: var(--mn-ac-1);
	color: var(--mn-ac-tx);
}

/* 6. document */
body {
	max-width: 48rem;
	margin: 1rem auto 0;
	padding: 0 1rem;
	background: var(--mn-bg-2);
	overflow-x: hidden;
}

header {
	padding: 1rem calc(50vw - 50%);
	margin: 0 calc(50% - 50vw) 0;
	margin-top: -1rem;
}

header * {
	padding: 0;
	margin: 0;
}

header > *:not(:last-child) {
	margin-bottom: 0.25rem;
}

header h1,
header h2,
header h3 {
	border-bottom: none;
	padding-bottom: 0;
}

footer > *:last-child {
	margin-bottom: 0;
}

header nav ul,
footer nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

header nav ul li,
footer nav ul li {
	margin: 0;
	display: flex;
}

header nav ul li:not(:first-child)::before,
footer nav ul li:not(:first-child)::before {
	content: "•";
	margin: 0 0.25em;
}

main,
article {
	padding: 1.5rem;
	background: var(--mn-bg-1);
	border: 1px solid var(--mn-bg-3);
	border-radius: 0.25rem;
}

main article {
	background: var(--mn-bg-2);
	border-radius: 0.375rem;
}

main > *:last-child,
article > *:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 48rem) {
	main {
		margin: -1rem;
		background: none;
		border: none;
	}

	header {
		background-color: var(--mn-bg-1);
		border-bottom: 1px solid var(--mn-bg-3);
		margin-bottom: 1rem;
	}

	footer {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px solid var(--mn-bg-3);
	}

	main,
	article {
		padding: 1rem;
	}
}

@media only screen and (min-width: 82rem) {
	aside {
		position: absolute;
		width: 16rem;
	}

	aside:nth-child(even) {
		left: calc(50% - ((48rem) / 2) - (16rem));
	}

	aside:nth-child(odd) {
		right: calc(50% - ((48rem) / 2) - (16rem));
	}
}

/* 7. blockquotes */
blockquote {
	padding: 1.25rem;
	background: var(--mn-bg-2);
	border: 1px solid var(--mn-bg-3);
	border-left: 5px solid var(--mn-bg-3);
	border-radius: 0.375rem;
}

blockquote > *:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* 8. buttons and inputs */
a button,
button,
.button input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	padding: 0.25rem 0.75rem;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--mn-lkb-1);
	color: color-mix(
		in oklch,
		var(--primary-hue) 10%,
		contrast-color(var(--primary-hue))
	);
	border: 0;
	border-radius: 0.375rem;
	box-sizing: border-box;
	cursor: pointer;

	&:hover,
	&:focus {
		background: var(--mn-lkb-2);
	}

	&.secondary {
		background: color-mix(
			in oklch,
			var(--secondary) 80%,
			contrast-color(var(--secondary))
		);
		color: contrast-color(
			color-mix(
				in oklch,
				var(--secondary) 80%,
				contrast-color(var(--secondary))
			)
		);

		&:focus,
		&:hover {
			background: color-mix(
				in oklch,
				var(--secondary) 65%,
				contrast-color(var(--secondary))
			);
		}
	}

	&.contrast {
		background: var(--mn-tx-1);
		color: var(--mn-bg-1);

		&:focus,
		&:enabled:hover {
			background: var(--mn-tx-2);
		}
	}

	&.success {
		background: var(--mn-success);
		color: contrast-color(var(--mn-success));
		&:hover,
		&:focus {
			background: color-mix(
				in oklch,
				var(--mn-success) 75%,
				contrast-color(var(--mn-success))
			);
		}
	}

	&.info {
		background: var(--mn-info);
		color: contrast-color(var(--mn-info));

		&:focus,
		&:enabled:hover {
			background: color-mix(
				in oklch,
				var(--mn-info) 75%,
				contrast-color(var(--mn-info))
			);
		}
	}

	&.warning {
		background: var(--mn-warning);
		color: contrast-color(var(--mn-warning));

		&:focus,
		&:enabled:hover {
			background: color-mix(
				in oklch,
				var(--mn-warning) 75%,
				contrast-color(var(--mn-warning))
			);
		}
	}

	&.error {
		background: var(--mn-error);
		color: contrast-color(var(--mn-error));

		&:focus,
		&:enabled:hover {
			background: color-mix(
				in oklch,
				var(--mn-error) 75%,
				contrast-color(var(--mn-error))
			);
		}
	}
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.button.outline,
button.outline,
input[type="submit"].outline,
input[type="reset"].outline,
input[type="button"].outline {
	background: transparent;
	border: 1px solid currentColor;
	color: var(--mn-lkb-1);

	&:focus,
	&:enabled:hover {
		background: color-mix(in oklch, currentColor 12%, transparent);
		color: var(--mn-lkb-2);
	}
}

.button.secondary.outline,
button.secondary.outline,
input[type="submit"].secondary.outline,
input[type="reset"].secondary.outline,
input[type="button"].secondary.outline {
	color: color-mix(
		in oklch,
		var(--secondary) 80%,
		contrast-color(var(--secondary))
	);

	&:focus,
	&:enabled:hover {
		color: color-mix(
			in oklch,
			var(--secondary) 65%,
			contrast-color(var(--secondary))
		);
	}
}

.button.contrast.outline,
button.contrast.outline,
input[type="submit"].contrast.outline,
input[type="reset"].contrast.outline,
input[type="button"].contrast.outline {
	color: var(--mn-tx-1);

	&:focus,
	&:enabled:hover {
		color: var(--mn-tx-2);
	}
}

.button.info.outline,
button.info.outline,
input[type="submit"].info.outline,
input[type="reset"].info.outline,
input[type="button"].info.outline {
	color: var(--mn-info);

	&:focus,
	&:enabled:hover {
		color: color-mix(
			in oklch,
			var(--mn-info) 75%,
			contrast-color(var(--mn-info))
		);
	}
}

.button.success.outline,
button.success.outline,
input[type="submit"].success.outline,
input[type="reset"].success.outline,
input[type="button"].success.outline {
	color: var(--mn-success);

	&:focus,
	&:enabled:hover {
		color: color-mix(
			in oklch,
			var(--mn-success) 75%,
			contrast-color(var(--mn-success))
		);
	}
}

.button.warning.outline,
button.warning.outline,
input[type="submit"].warning.outline,
input[type="reset"].warning.outline,
input[type="button"].warning.outline {
	color: var(--mn-warning);

	&:focus,
	&:enabled:hover {
		color: color-mix(
			in oklch,
			var(--mn-warning) 75%,
			contrast-color(var(--mn-warning))
		);
	}
}

.button.error.outline,
button.error.outline,
input[type="submit"].error.outline,
input[type="reset"].error.outline,
input[type="button"].error.outline {
	color: var(--mn-error);

	&:focus,
	&:enabled:hover {
		color: color-mix(
			in oklch,
			var(--mn-error) 75%,
			contrast-color(var(--mn-error))
		);
	}
}

textarea,
select,
input {
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
	background: var(--mn-bg-2);
	color: var(--mn-tx-2);
	border: 1px solid var(--mn-bg-3);
	border-radius: 0.375rem;
	box-shadow: none;
	box-sizing: border-box;
}

textarea {
	max-width: 100%;
}

input,
progress {
	accent-color: var(--mn-ac-1);
}

/* 9. code and keyboards */
code,
samp,
kbd,
pre {
	background: var(--mn-bg-2);
	border: 1px solid var(--mn-bg-3);
	border-radius: 0.375rem;
	padding: 0.125rem 0.25rem;
	tab-size: 2;
}

kbd {
	border-bottom: 3px solid var(--mn-bg-3);
}

pre {
	padding: 1rem 1.5rem;
	max-width: 100%;
	overflow: auto;
}

pre code {
	padding: 0;
	border: 0;
}

/* 10. details */
details:not(aside details) {
	padding: 0.5rem 1rem;
	background: var(--mn-bg-2);
	border: 1px solid var(--mn-bg-3);
	border-radius: 0.375rem;
}

summary {
	cursor: pointer;
	font-weight: bold;
}

details[open] > summary {
	margin-bottom: 0.5rem;
}

details[open] > *:first-child {
	margin-top: 0;
}

details[open] > *:last-child {
	margin-bottom: 0;
}

/* 11. description lists */
dt {
	font-weight: bold;
}

dd::before {
	content: "→ ";
}

/* 12. horizontal rules */
hr {
	border: 0;
	border-bottom: 2px solid var(--mn-bg-3);
}

/* 13. fieldsets */
fieldset {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid var(--mn-bg-3);
	border-radius: 0.375rem;
}

legend {
	padding: auto 0.5rem;
}

/* 14. tables */
table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid var(--mn-bg-2);
	text-align: left;
	padding: 0.5rem;
}

th {
	background: var(--mn-bg-3);
}

tr:nth-child(even) {
	background: var(--mn-bg-3);
}

table caption {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

/* 15. lists */
ol,
ul {
	padding-left: 2rem;
}

li {
	margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}
