details {
	&::details-content {
		max-block-size: 0;
		opacity: 0;
		transition:
			opacity 0.4s,
			max-block-size 0.3s linear,
			content-visibility 0.3s linear;
		transition-behavior: allow-discrete;
		overflow: hidden;
	}
	&[open]::details-content {
		opacity: 1;
		max-block-size: 55em; /* max-block-size has to be hard-coded for the animation to work (unfortunately) */
	}
}

.animation-medium {
	&::details-content {
		transition:
			opacity 0.5s,
			max-block-size 0.4s linear,
			content-visibility 0.4s linear;
		transition-behavior: allow-discrete; /* for some reason I have to repeat this rule every time, or else Edge (specifically) misbehaves */
	}
	&[open]::details-content {
		max-block-size: 110em;
	}
}
