.no-border {
	border: 0;
}
.hidden {
	display: none;
}
.br-4 {
	border-radius: 4px;
}
.br-12 {
	border-radius: 12px;
}
.rounded,
.br-8 {
	border-radius: var(--mn-shape-borderRadius);
}
.br-circle {
	border-radius: 50%;
}
.m-1 {
	margin: var(--mn-spacing);
}
.m-2 {
	margin: var(--mn-spacing2);
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.mx-1 {
	margin-left: var(--mn-spacing);
	margin-right: var(--mn-spacing);
}
.mx-2 {
	margin-left: var(--mn-spacing2);
	margin-right: var(--mn-spacing2);
}
.mx-5 {
	margin-left: var(--mn-spacing5);
	margin-right: var(--mn-spacing5);
}
.my-1 {
	margin-bottom: var(--mn-spacing);
	margin-top: var(--mn-spacing);
}
.my-2 {
	margin-bottom: var(--mn-spacing2);
	margin-top: var(--mn-spacing2);
}
.my-3 {
	margin-bottom: var(--mn-spacing3);
	margin-top: var(--mn-spacing3);
}
.my-4 {
	margin-bottom: var(--mn-spacing4);
	margin-top: var(--mn-spacing4);
}
.my-5 {
	margin-bottom: var(--mn-spacing5);
	margin-top: var(--mn-spacing5);
}
.ml-1 {
	margin-left: var(--mn-spacing);
}
.ml-2 {
	margin-left: var(--mn-spacing2);
}
.mr-1 {
	margin-right: var(--mn-spacing);
}
.mr-2 {
	margin-right: var(--mn-spacing2);
}
.mr-3 {
	margin-right: var(--mn-spacing3);
}
.mb-1 {
	margin-bottom: var(--mn-spacing);
}
.mb-2 {
	margin-bottom: var(--mn-spacing2);
}
.mb-3 {
	margin-bottom: var(--mn-spacing3);
}
.mb-4 {
	margin-bottom: var(--mn-spacing4);
}
.mb-5 {
	margin-bottom: var(--mn-spacing5);
}
.mb-6 {
	margin-bottom: var(--mn-spacing6);
}
.mb-7 {
	margin-bottom: var(--mn-spacing7);
}
.mt-2px {
	margin-top: 2px;
}
.mt-1 {
	margin-top: var(--mn-spacing);
}
.mt-2 {
	margin-top: var(--mn-spacing2);
}
.mt-3 {
	margin-top: var(--mn-spacing3);
}
.mt-4 {
	margin-top: var(--mn-spacing4);
}
.mt-5 {
	margin-top: var(--mn-spacing5);
}
.mt-6 {
	margin-top: var(--mn-spacing6);
}
.p-0 {
	padding: 0;
}
.p-1 {
	padding: var(--mn-spacing);
}
.p-2 {
	padding: var(--mn-spacing2);
}
.p-3 {
	padding: var(--mn-spacing3);
}
.p-4 {
	padding: var(--mn-spacing4);
}
.px-1 {
	padding-left: var(--mn-spacing);
	padding-right: var(--mn-spacing);
}
.px-2 {
	padding-left: var(--mn-spacing2);
	padding-right: var(--mn-spacing2);
}
.px-3 {
	padding-left: var(--mn-spacing3);
	padding-right: var(--mn-spacing3);
}
.px-4 {
	padding-left: var(--mn-spacing4);
	padding-right: var(--mn-spacing4);
}
.px-5 {
	padding-left: var(--mn-spacing5);
	padding-right: var(--mn-spacing5);
}
.py-1 {
	padding-bottom: var(--mn-spacing);
	padding-top: var(--mn-spacing);
}
.py-2 {
	padding-bottom: var(--mn-spacing2);
	padding-top: var(--mn-spacing2);
}
.py-3 {
	padding-bottom: var(--mn-spacing3);
	padding-top: var(--mn-spacing3);
}
.py-4 {
	padding-bottom: var(--mn-spacing4);
	padding-top: var(--mn-spacing4);
}
.pl-0 {
	padding-left: 0;
}
.pl-1 {
	padding-left: var(--mn-spacing);
}
.pl-2 {
	padding-left: var(--mn-spacing2);
}
.pl-3 {
	padding-left: var(--mn-spacing3);
}
.pl-4 {
	padding-left: var(--mn-spacing4);
}
.pl-5 {
	padding-left: var(--mn-spacing5);
}
.pr-1 {
	padding-right: var(--mn-spacing);
}
.pr-2 {
	padding-right: var(--mn-spacing2);
}
.pr-3 {
	padding-right: var(--mn-spacing3);
}
.pr-4 {
	padding-right: var(--mn-spacing4);
}
.pr-5 {
	padding-right: var(--mn-spacing5);
}
.pr-6 {
	padding-right: var(--mn-spacing6);
}
.pb-1 {
	padding-bottom: var(--mn-spacing);
}
.pb-2 {
	padding-bottom: var(--mn-spacing2);
}
.pb-3 {
	padding-bottom: var(--mn-spacing3);
}
.pb-4 {
	padding-bottom: var(--mn-spacing4);
}
.pt-0 {
	padding-top: 0;
}
.pt-1 {
	padding-top: var(--mn-spacing);
}
.pt-2 {
	padding-top: var(--mn-spacing2);
}
.pt-3 {
	padding-top: var(--mn-spacing3);
}
.pt-4 {
	padding-top: var(--mn-spacing4);
}
.pt-5 {
	padding-top: var(--mn-spacing5);
}
.fw-8,
.extra-bold {
	font-weight: 800;
}
.fw-7,
.bold {
	font-weight: 700;
}
.fw-6 {
	font-weight: 600;
}
.fw-5 {
	font-weight: 500;
}
.fw-4 {
	font-weight: 400;
}
.fw-3 {
	font-weight: 300;
}
.fw-2 {
	font-weight: 200;
}
.underline {
	text-decoration: underline;
}
.ta-r {
	text-align: right;
}
.ta-l {
	text-align: left;
}
.ta-c {
	text-align: center;
}
.capitalize {
	text-transform: capitalize;
}

.fs-10,
.text-xs {
	font-size: 10px;
}
.fs-12,
.text-sm {
	font-size: 12px;
}
.fs-13 {
	font-size: 13px;
}
.fs-14,
.text-med {
	font-size: 14px;
}
.fs-20 {
	font-size: 20px;
}
.fs-24 {
	font-size: 24px;
}
.fs-32 {
	font-size: 32px;
}
.fs-48 {
	font-size: 48px;
}
.no-wrap {
	text-wrap: nowrap;
}
.lh-init {
	line-height: initial;
}
/* TODO: responsive text containers intended for maximizing readability in terms of line length and kerning etc.
.flow-text {

} */

/* layout */
.w-full {
	width: 100%;
}
.w-half {
	width: 50%;
}
.h-full {
	height: 100%;
}
.inline {
	display: inline;
}
.block {
	display: block;
}

.full-page-center {
	display: flex;
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */
	height: 100vh;
	text-align: center;
}

.max-width-center {
	text-align: center;
	max-width: 800px;
	width: 100%; /* optional to make max-width effective */
	margin: 0 auto;
}

.resp-2col-grid {
	display: grid;
	gap: var(--mn-spacing3);
	grid-template-columns: repeat(2, 1fr);

	.span-all {
		grid-column: span 2;
	}
}
@media (max-width: 1200px) {
	.resp-2col-grid {
		grid-template-columns: 1fr;

		.span-all {
			grid-column: span 1;
		}
	}
}

.flex-row,
.flex-col {
	display: flex;
	align-items: flex-start;
	gap: 0;

	&.space-between {
		justify-content: space-between;
	}

	&.flex-end {
		justify-content: flex-end;
	}

	&.centered {
		justify-content: center;
		align-items: center;
	}
	&.wrap {
		flex-wrap: wrap;
	}
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
	align-items: stretch;
.flex-1 {
	flex: 1;
}
.flex-1dot5 {
	flex: 1.5;
}
.flex-2 {
	flex: 2;
}
.flex-3 {
	flex: 3;
}
.flex-0 {
	flex: 0;
}
.as-fe {
	align-self: flex-end;
}
.as-fs {
	align-self: flex-start;
}
.as-c {
	align-self: center;
}
.as-s {
	align-self: stretch;
}
.ai-c {
	align-items: center;
}
.ai-fe {
	align-items: flex-end;
}
.ai-s {
	align-items: stretch;
}
.jc-fe {
	justify-content: flex-end;
}
.jc-c {
	justify-content: center;
}
.gap-1 {
	gap: var(--mn-spacing);
}
.gap-2 {
	gap: var(--mn-spacing2);
}
.gap-3 {
	gap: var(--mn-spacing3);
}
.gap-4 {
	gap: var(--mn-spacing4);
}
.gap-5 {
	gap: var(--mn-spacing5);
}
.wb-a {
	word-break: break-all;
}
